*{
  margin: 0;
}
form{
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
table{
  display: flex;
  justify-content: center;
  align-items: center;
  border-collapse: collapse;
}
td{
  height: 40px;
  width: 40px;
  border: 2px solid black;
  background-color: white;
}
[id="00"] {
  background-color: red;
}
h1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}